---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Bola Ojewale, a cybersecurity engineer passionate about protecting systems and uncovering threats.
        <br />
        My primary areas of expertise include:
      </p>
      <ul class="list-disc list-inside">
        <li>SIEM Engineering</li>
        <li>Threat Detection and Hunting</li>
        <li>Cloud Security</li>
        <li>Security Automation</li>
        <li>Incident Response</li>
        <li>AI Security</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond cybersecurity, I'm passionate about <b>plants</b> and <b>snowboaring</b>.
      I enjoy tending to my plants and training to finally land a clean method grab after jumping off a 10ft ramp.
    </p><p></p>
    <p class="text-md font-light">
      <a href="/resume" target="_blank">Resume</a></p>
  </div>
</Card>
