---
import Card from "./Card/index.astro";
---

<a href="/resume#skills" class="col-span-1 md:col-span-2 row-span-1 md:row-span-2">
  <Card colSpan="md:col-span-2" rowSpan="md:row-span-2" title="My Skills">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li><strong>SIEM Technologies</strong> (Splunk, CrowdStrike Next-Gen SIEM, Wazuh)</li>
    <li><strong>Threat Simulation</strong> (Mandiant Security Validation, MITRE Caldera)</li>
    <li><strong>Cloud Environments</strong> (Azure, AWS)</li>
    <li><strong>Programming/Scripting</strong> (Python, Powershell, Bash, C++)</li>
  </ul>
</Card></a>
