---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>SIEM Technologies</strong></li>
      <ul>
        <li>Splunk</li>
        <li>CrowdStrike Next-Gen SIEM</li>
        <li>Wazuh</li>
    <li><strong>Threat Simulation</strong></li>
    <li><strong>Cloud Environments</strong></li>
    <li><strong>Programming/Scripting</strong></li>
  </ul>
</Card>
